@import '~antd/dist/antd.css';

#pad {
    border-radius: 5px;
    background-color: rgb(232, 240, 252);
    box-shadow: 0.5px 1px 1px 2px #d6d6d6e8;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
}

#movieItem{
    cursor: pointer;
}

#info {
    padding: 30px;
}

.inputFiled {
    text-align: left;
}
.inputEdit{
    text-align: center;
}

#poster_hover{
    width: 300px;
}
.imgExtra{
    height: 300px;
    width: auto;
}
.collapse {
    display: none
  }

.collapse.in {
display: block
}

table, th, td {
border-collapse: collapse;
}

th{
    background-color: #1890ff;
    color: white;
    padding: 1em;
}
th:nth-child(1){
    border-radius: 0.6em 0em 0em 0em;
}

th:nth-last-child(1){
border-radius: 0em 0.6em 0em 0em;
}

td{
    padding: 1em;
}

td:nth-child(1){
    font-weight: bold;
}

tr:nth-child(odd){
    background-color: white;
}

tr:nth-child(even){
    background-color: rgba(241, 241, 241, 0.979);
}

tr:hover{
    background-color: rgb(221, 232, 250);
    color: #1890ff;
}